@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-Variable.woff2') format('woff2-variations');
    src: url('../fonts/NunitoSans-Variable.woff2') format('woff2') tech('variations');
    font-weight: 300 700;
    
}

@font-face {
    font-family: 'WorkSans-Light';    
    src: url('../fonts/WorkSans-Light.woff2') format('woff2');         
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-Regular';    
    src: url('../fonts/WorkSans-Regular.woff2') format('woff2');         
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-Medium';    
    src: url('../fonts/WorkSans-Medium.woff2') format('woff2');         
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-SemiBold';    
    src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2');         
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}


body{
    font-family: 'NunitoSans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
    background-color: #FDFDF0;
    color:#0E0D0D;
}

.container{
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-big{
    max-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER BEGIN */

.header__inner{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 30px 0;
}

.menu__btn{
    display: none;
}


.menu__list{
    display: flex;
    gap: 0 30px;
}

.menu__link{
    text-transform: uppercase;
}

.menu__link:hover{
    color: #18831e;
    font-weight: 500;
    transition: all 0.5s ease;

}

.header__contact{
    display: inline-block;
    border-radius: 50px;
    background-color: #0E0D0D;
    color:#fff;
    text-transform: uppercase;
    padding: 10px 40px;
}

.header__contact:hover{
    background-color: #18831e;
    color:#FFF;
    transition: all 0.5s ease;
}

/* HEADER END */

/* ABOUT BEGIN */

.about{
    margin-bottom: 180px;
}

.about__top{
    background-image: url('../images/about-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    color:#FDFDF0;
    text-align: center;
    text-transform: uppercase;
    min-height: 748px;

}

.about__title{
    font-family: 'WorkSans-SemiBold';
    font-size: 250px;
    font-weight: 600;
    line-height: 0.9;
    padding: 85px 0 0 0;
}

.about__text{
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;    
}



/* ABOUT ACHIEVMENTS BEGIN */

.about_achievements{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.about__achievment{
    display: flex;    
    justify-content: space-between;
    margin-top: -30px;
    border-radius: 20px;
    max-width: 580px;
    background-color: #F4F4E7;
    padding: 14px 10px;
    gap: 0 25px;
}

.about__achievment-imgbox{
    min-width: 214px;
    position: relative;
}

.about__achievment-arrowBtn{
    border: none;
    padding: 0;
    background-color: transparent;    
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
}

.about__achievment-title{       
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;

}

.about__achievment-description{
    font-weight: 300;
    font-size: 14px;
}
    /* COMMON STYLES */
.text--bold{
    font-weight: 600;      
}

.text--color{
    font-weight: 600;  
    color: #F2A531;  
}

.text-medium{
    font-family: 'WorkSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 18px;

}
/* ABOUT  ACHIEVMENTS END */

/* ABOUT  ACHIEVMENTS DL BEGIN */

.about__stats{
    background-color: #F4F4E7;
    padding: 30px 18px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 70px;
    gap: 0 90px;
}

.about__stats-item{
    text-align: center;
    width: 300px;
}

.about__stats-item dt{ 
    font-family: 'WorkSans-SemiBold', sans-serif;     
    font-weight: 600;
    font-size: 40px;    
    margin-bottom: 15px;
}

.about__stats-item dd{
    margin: 0;
    color: #0E0D0D;
    font-size: 22px;
    opacity: 0.7;
}

/* ABOUT  ACHIEVMENTS DL END */

/* ABOUT  PROGRESS BEGIN */
.about__progress-text{
    font-family: 'WorkSans-Light', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.17;
    margin-bottom: 40px;
}

.about__progress-text span{
    font-family: 'WorkSans-Medium', sans-serif;    
    font-weight: 500;
}

.about__progress-box{
    display: flex;    
    gap: 0 140px;
    margin-bottom: 180px;
}

.about__progress-image-box{
    min-width: 340px;
}

.about_progress-stats-title{    
    font-weight: 300;
    font-size: 18px;
    line-height: 1.38;
    margin-bottom: 45px;
    padding-right: 50px;    
    color:#000;
}

.about__progress-stats-list{
    display: flex;
    flex-direction: column;
    
}

.about__progress-stats-item:first-child{
    border-top: 1px solid rgba(14, 13, 13, 0.23);
}
.about__progress-stats-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;    
    border-bottom: 1px solid rgba(14, 13, 13, 0.23);
    margin: 20px 0 0 0 ;
}

.about__progress-stats-item dd{
    font-family: 'WorkSans-Regular', sans-serif;        
    opacity: 0.71;
}

/* ABOUT  PROGRESS END */


/* ABOUT END */


/* PRODUCTS BEGIN */

.products__wrapper{
    padding: 50px 0;
    background-color: #F4F4E7;
    border-radius: 20px;
}

.products__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__title{
    font-family: 'WorkSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 40px;
    color:#000
    
}

.products__list{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 35px;
}


.products__item-title{
    font-family: 'WorkSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    margin-bottom: 14px;

}

.products__item-descr{    
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}

.products__list-item:nth-child(even)>.products__item-title,
.products__list-item:nth-child(even)>.products__item-descr{
    color: #0E0D0D;
}

.products__list-item{
    padding: 50px 24px;    
    border-radius: 10px;    
    position: relative;
    /* width: 460px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 322px;
}

/* PRODUCTS IMAGES!!! */
.products__list-item:nth-child(1){
    background-image: url('../images/products/prod-1.jpg');    
}
.products__list-item:nth-child(2){
    background-image: url('../images/products/prod-2.jpg');    
}
.products__list-item:nth-child(3){
    background-image: url('../images/products/prod-3.jpg');    
}
.products__list-item:nth-child(4){
    background-image: url('../images/products/prod-4.jpg');    
}
.products__list-item:nth-child(5){
    background-image: url('../images/products/prod-5.jpg');    
}
.products__list-item:nth-child(6){
    background-image: url('../images/products/prod-6.jpg');    
}

.products__item-arrowBtn{
    border:none;
    padding: 0;
    cursor: pointer;
    background-color: #F4F4E7;    
    border-radius: 50%;
    position: absolute;
    left: -10px;
    bottom: -10px;
    width: 50px;
}

.button{    
    display: inline-block;
    padding: 19px 97px 19px 38px;
    border-radius: 96px;
    background-color: #000;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.button svg{
    position: absolute; 
    top: 3px;
    right: 4px;   
}

.products__link{
    display: block;
    margin: 0 auto;
}
/* PRODUCTS END */


/* SLOGAN BEGIN */

.slogan{
    margin-bottom: 130px;    
    text-transform: uppercase;    
}

.slogan__text{
    font-family: 'WorkSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;    
    text-align: center;    
    color:#000;
    padding-top: 115px;    
}

.slogan__title{
    font-family: 'WorkSans-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 300px;    
    line-height: 1;
    text-align: center;    
    color:#F2A531;
    
}

.slogan__img{
    margin-top: -145px;
}


/* SLOGAN END */

/* PARTNERS BEGIN */

.partners{
    margin-bottom: 150px;

}

.partners__inner{
    display: flex;
    justify-content: space-between;
    gap: 0 120px;
}

.partners__info{
    display: flex;
    flex-direction: column;
    max-width: 580px;
}

.partners__info-title{
        font-family: 'WorkSans-Regular', sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.3;
        color: #0E0D0D;        
}

.partners__info-text{
        font-family: 'WorkSans-Light', sans-serif;
        font-weight: 300;
        font-size: 20px;         
        color: #0E0D0D;
        padding-bottom: 20px;
        margin-top: auto;
}

.partners__button{
    align-self: flex-start;
}

.partners__box-top{
    display: flex;
    justify-content: space-between;    
    gap: 0 20px;
    background-color: #F4F4E7;
    border-radius: 10px;
}

.wrapper__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;   
    
}

.partners__box-list-item{
    padding: 7px 0;
    padding-left: 39px;
    position: relative;
}

.partners__box-list-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('../images/partners-dots.svg');
    
}
    

.partners__box-list-item p{
    padding-left: 10px;
    font-family: 'WorkSans-Regular', sans-serif;
    color:#000;
    
}

.partners__box-list-item p span{
    font-weight: 400;    
}

.partners__logo{
    width: 63px;
    height: 56px;
}

.partners__slogan{
    margin-top: 15px;
    background-color: #0D1615;
    border-radius: 10px;
    padding: 30px 80px 30px 30px;
    color:#fff;
}

/* PARTNERS END */

/* BLOG BEGIN */

.blog{
    margin-bottom: 80px;
}

.blog__wrapper{
    background-color: #F4F4E7;
    border-radius: 20px;
    padding: 100px 0 ;
}


.blog__title{
    font-family: 'WorkSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.3;
    color: #0E0D0D;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 40px;
}

.blog__items{
    display: grid;
    grid-template-columns: 580px auto;
    grid-template-rows: 1fr 1fr;
    gap: 32px 44px;
}

.blog__item-big{
    grid-row: 1 / -1;
}

.blog__item-small{
    display: flex;
    align-items: center;
    gap: 0 24px;
}

.blog__item-big .blog__item-img{
    margin-bottom: 32px;
}

.blog__item-info{
    font-family: 'WorkSans-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 14px;    
    color:#F2A531;
    padding: 0 0 12px;

}

.blog__item-title-link{
    display: block;
    margin-bottom: 12px;
}
.blog__item-title{
    font-family: 'WorkSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 24px;    
    color:#101828;
    position: relative;    
}

.blog__item-title::after{
    content: '';
    position: absolute;
    right: 0; 
    top:50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url("../images/blog-arrow.svg");
    
}

.blog__item-text{
    color:#667085;    
}

/* BLOG END */

/* FOOTER BEGIN */

.footer{
    background-color: #0E0D0D;
    padding: 100px 0; 
    color:#fff;
}

.footer__top{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 30px; 
    padding-right: 100px;
    gap: 20px;
}

.footer__element-title{
    font-family: 'WorkSans-Medium', sans-serif;
    font-weight: 500;   
    text-transform: uppercase;   
    margin-bottom: 20px;  
    
}

.footer__item + .footer__item{
    padding-top: 15px;
}

.footer__bottom{
    display: flex;
    justify-content: space-between; 
    border-top: 1px solid #fff;   
    padding-top: 15px;
    align-items: center;
    gap: 20px;
}

.footer__bottom-item{        
    font-size: 14px;    
}

.footer__item-address{
    font-style: normal;
}

/* FOOTER END */

/* ADAPTIVE BEGIN */

@media (max-width: 1600px) {
    .container-big{
        padding: 0;
    }

    .slogan__title {
        font-size: 140px;
    }

    .slogan__text {
        font-size: 26px;
    }

    .slogan__img {
    margin-top: -75px;
    }

    .partners__inner{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .partners__box-top {
        justify-content: left;
    }

    .blog__item-title{
        padding-right: 30px;
    }

     
}

@media (max-width: 1280px) {
    .about__title{
        font-size: 140px;
    }

    .about_achievements{
        gap: 20px;
    }

    .about__progress-box{
        gap: 0 20px;
    }

    .blog__item-title{
        padding-right: 30px;
    }

    .blog__items {
        grid-template-columns: 1fr;
    }

    .blog__item-title-link{
        max-width: 500px;
    }

    .blog__item-img{
        width: 100%;
    }
}
/* STOP HERE - Time stamp 27-07-2025 : 22-17 */

@media (max-width: 980px) {
    .about__title{
        font-size: 100px;
    }

    .about__text{
        font-size: 24px;
    }

    .about__achievment{        
        flex-wrap: wrap;
    }

    .about__stats{
        gap: 20px;
    }

    .menu{
        order:1;
    }

    .menu__btn{
        display: flex;
        flex-direction: column;
        width: 40px;
        gap: 8px;
        padding: 0;
        border: 0;
        background-color: transparent;
        position: relative;
        z-index: 5;
       
    }

    .menu__btn span{
        width: 100%;
        height: 2px;
        background-color: #000;        
    }

    .menu__list{
        /* display: none; */
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        padding: 85px 0;
        gap: 0 20px;
        transform: translateY(100%);
    }

    .menu__list.active{
        transform: translateY(0);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 870px) {
    .about__progress-text{
        font-size: 28px;
    }   

    .about__progress-box{
        display: block;
    }

    .about__progress-image{
        width: 100%;
        height: 340px;
        object-fit: cover;
    }

    .about__stats{
        flex-wrap: wrap;
    }

    .products__list {   
        grid-template-columns: repeat(2, 1fr);
    }

    .products__title{
        font-size: 32px;
    }

    .footer__top{
        padding-right: 0;
    }

 

}

@media (max-width: 691px) {
     .slogan__title {
        font-size: 64px;
    }

    .slogan__text {
        font-size: 26px;
    }

    .slogan__img {
    margin-top: -36px;
    }

   .partners__info-title{
    font-size: 26px;
   }

   .partners__img{
    width: 100%;
   }

    .footer__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__element{        
          padding-bottom: 30px;
    }

    .footer__element:first-child{
        margin-left: -30px;
    }


}

@media (max-width: 678px) {
    .about__stats-item{
        width: 100%;
    }

      .products__list {   
        grid-template-columns: repeat(1, 1fr);
    }

      .products__title{
        font-size: 24px;
    }
    
    .partners__box-top {
        flex-wrap: wrap;
    }

    .blog__item-small{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .blog__title{
        font-size: 28px;
    }

}



@media (max-width: 510px) {
    .about{
        margin-bottom: 50px;
    }

    .about__title{
        font-size: 54px;
    }

    .about__text{
        font-size: 16px;
    }

    .about_achievements{        
        flex-wrap: wrap; 
        margin-bottom: 30px;       
    } 

    .about__achievment-imgbox{
        min-width: 100%;
    }

    .about__achievment-img{
        width: 100%;
    }

    .about__top{
        min-height: 460px;
    }

    .about__stats{
        margin-bottom: 30px;
    }

    .about__progress-text{
        font-size: 22px;
    }

    /* .about__progress-image{
        max-width: 90%;
    } */

    .about__progress-stats-item{
        display: block;
    }

    .about__progress-stats-item dd{
        margin: 0;
        margin-top: 15px;
    }

     .products__title{
        font-size: 20px;
        text-align: center;
    }

    .slogan__text{
        padding-top: 30px;
        font-size: 24px;
    }

    .header__inner{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

}

/* ADAPTIVE END */